*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header{
    width:100vw;
    height:15vh;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    background-color:#4F0863;
}

.header img{
    width:70%;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

.inicio{
    width:100vw;
    height:85vh;
    background-color:#DC5AE8;
    display:flex;
    align-items: center;
    justify-content: center;
}

.inicio p{
    color:white;
    font-size:2rem;
    line-height: 4rem;
    padding-left:1rem;
    padding-right:1rem;
    text-align: center;
}

.productos{
    width:100vw;
    height:85vh;
    background-color:#E8C866;
}
.servicios{
    width:100vw;
    height:85vh;
    background-color:#89E838;
}
.quienes-somos{
    width:100vw;
    height:85vh;
    background-color:#4360E8;
}

.footer{
    width:100vw;
    height:15vh;
    background-color:#4F0863;
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.footer img{
    width:30%;
    margin-left:2%;
}

.footer p{
    font-size:0.6rem;
    color:white;
}