*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face{
    font-family:"mi-fuente";
    src:url('./assets/Poppins-ExtraBold.ttf');
}

.header{
    width:100vw;
    height:15vh;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    background-color:#4F0863;
}

.logo-header{
    width:70%;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

.inicio{
    width:100vw;
    height:85vh;
    background-color:#DC5AE8;
    display:flex;
    align-items: center;
    justify-content: center;
}

.logo-inicio{
    width:60vw;
    height: 85vh;
    background-color:#DC5AE8;
    background-image: url('./assets/vitrina.jpeg');
    background-size: cover;
    background-position: center;
    filter:opacity(0.5);
}

.logo-inicio img{
    width:50%;
    margin:1rem
}

/* .inicio p{
    color:white;
    font-size:2rem;
    line-height: 4rem;
    padding-left:1rem;
    padding-right:1rem;
    text-align: center;
} */

.cotizacion{
    width:40vw;
    height: 85vh;
   background-color: #4F0863;
   display: flex;
   align-items: center;
   justify-content: center;
}

.cotizacion p{
    font-family: mi-fuente;
    transform: rotate(270deg);
    color:white;
    font-size:6rem;
}
.productos{
    width:100vw;
    height:85vh;
    background-color:white;
    display: flex;
}

.camisa-polo{
    width:40vw;
    height:85vh;
   background-color: #4F0863;
   display:flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.foto-polo{
    width:60vw;
    height:85vh;
    background-image: url('./assets/polo.png');
    background-position: center;
    background-size: cover;
}

.texto-polo{
    font-family: mi-fuente;
    transform: rotate(270deg);
    color:white;
    font-size:6rem;
}
.servicios{
    width:100vw;
    height:85vh;
    background-color:#38cee8;
}

.cabecera-servicios{
    width:100vw;
    height: 15vh;
    background-color:#4360E8;
    display:flex;
    align-items:center;
    justify-content:center;
}

.cabecera-servicios p{
    color:white;
    font-family: mi-fuente;
    font-size: 2rem;
    text-align:center;
}
.quienes-somos{
    width:100vw;
    height:85vh;
    background-color:#4360E8;
}

.none{
    display: none;
}

.footer{
    width:100vw;
    height:15vh;
    background-color:#4F0863;
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.footer img{
    width:30%;
    margin-left:2%;
}

.footer p{
    font-size:0.6rem;
    color:white;
}

